:root {
    --color-purple-100: hsl(254, 88%, 90%);
    --color-purple-500: hsl(256, 67%, 59%);
    --color-yellow-100: hsl(31, 66%, 93%);
    --color-yellow-500: hsl(39, 100%, 71%);
    --color-white: hsl(0, 0%, 100%);
    --color-light-grey: hsl(0, 0%, 92%);
    --color-lighter-grey: hsl(0, 0%, 98%);
    --color-black: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--color-light-grey);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    padding: 80px 11vw 65px 11vw;
    max-height: 100%;
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: minmax(260px, 25%) minmax(812px, 75%);
    font-family: "DM Sans",sans-serif;

    @media (max-width: 1425px) and (min-width: 556px) {
        grid-row-gap: 32px;
        grid-template-columns: 1fr;
    }

    @media (max-width: 555px) {
        padding: 32px 16px 40px 16px;
        grid-row-gap: 32px;
        grid-template-columns: 1fr;
    }
}

.attribution {
    text-align: center;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.cardBox {
    border-radius: 10px;
}

.gridLeft {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-row-gap: 32px;
    grid-template-rows: 1fr auto;

    @media (max-width: 1425px) and (min-width: 1041px) {
        grid-column-gap: 32px;
        grid-row-gap: 0;
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 1040px) {
        grid-column-gap: 0;
        grid-row-gap: 32px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

.gridLeftBottomCard {
    background-color: var(--color-yellow-500);
    padding: 24px 12px 24px 24px;
    height: 100%;

    @media (max-width: 1040px) {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.gridLeftBottomCard h2{
    margin-top: 0;
    font-size: 44px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 0.9;

    @media (max-width: 555px) {
        font-size: 36px;
    }
}

.gridLeftBottomCard img {
    width: 100%;
    max-width: 228px;
}

.gridLeftTopCard {
    background-color: var(--color-yellow-100);
    padding: 80px 32px;
    height: 100%;
    width: 100%;
    max-width: 100%;

    @media (max-width: 1040px) {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.gridLeftTopCard h2{
    margin-top: 0;
    font-size: 42px;
    font-weight: normal;
    letter-spacing: -3px;
    line-height: 0.9;

    @media (max-width: 555px) {
        font-size: 36px;
    }
}

.gridLeftTopCard img {
    width: 100%;
    max-width: 200px;

    @media (max-width: 1040px) {
        height: auto;
        max-width: 200px;
    }
}

.gridLeftTopCard span{
    font-style: italic;
    color: var(--color-purple-500);
}

.gridRight {
    max-height: 914px;
    display: grid;
    grid-row-gap: 32px;
    grid-template-rows: calc(70% - 16px) calc(30% - 16px);

    @media (max-width: 1040px){
        max-height: 100%;
        grid-template-rows: fit-content(100%) fit-content(100%);
    }
}

.gridRightBottom {
    max-height: 260px;
    width: 100%;
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: calc(34% - 32px) 66%;

    @media (max-width: 1040px) and (min-width: 556px){
        max-height: 100%;
        grid-column-gap: 0;
        grid-row-gap: 32px;
        grid-template-columns: 1fr;
    }

    @media (max-width: 555px) {
        max-height: 100%;
        grid-column-gap: 0;
        grid-row-gap: 32px;
        grid-template-columns: 1fr;
    }
}

.gridRightBottomLeftCard {
    background-color: var(--color-lighter-grey);
    padding: 24px;

    @media (max-width: 1040px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.gridRightBottomLeftCard h2{
    margin: 0;
    font-size: 60px;
    font-weight: normal;
}

.gridRightBottomLeftCard img{
    max-height: 64px;
}

.gridRightBottomLeftCard p{
    margin-bottom: 32px;
    letter-spacing: 1px;
}

.gridRightBottomRightCard {
    background-color: var(--color-purple-500);
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 555px) {
        flex-direction: column;
        text-align: center;
    }
}

.gridRightBottomRightCard h2{
    margin-left: 8px;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 1px;
    color: var(--color-white);
}

.gridRightBottomRightCard img{
    max-height: 200px;
}

.gridRightTop {
    max-height: 622px;
    width: 100%;
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: calc(66% - 16px) calc(34% - 16px);

    @media (max-width: 1040px) {
        max-height: 100%;
        grid-column-gap: 0;
        grid-row-gap: 32px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

.gridRightTopLeft {
    max-height: 100%;
    display: grid;
    grid-row-gap: 32px;
    grid-template-rows: 340px 250px;

    @media (max-width: 1040px) {
        grid-template-rows: auto auto;
    }
}

.gridRightTopLeftBottom {
    max-height: 100%;
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: calc(50% - 16px) calc(50% - 16px);

    @media (max-width: 1040px) {
        max-height: 100%;
        grid-column-gap: 0;
        grid-row-gap: 32px;
        grid-template-columns: 1fr;
    }
}

.gridRightTopLeftBottomLeftCard {
    background-color: var(--color-lighter-grey);
    padding: 30px 24px 20px 24px;
    max-height: 100%;
    overflow: hidden;

    @media (max-width: 1040px) {
        max-width: 100%;
    }
}

.gridRightTopLeftBottomLeftCard h2{
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 0.9;

    @media (max-width: 555px) {
        font-size: 25px;
    }
}

.gridRightTopLeftBottomLeftCard img{
    max-height: 64px;

    @media (max-width: 555px) {
        height: auto;
        max-width: 300px;
    }
}

.gridRightTopLeftBottomRightCard {
    background-color: var(--color-yellow-500);
    padding: 24px 24px 0 24px;
    max-height: 100%;
    overflow: hidden;

    @media (max-width: 1040px) {
        max-width: 100%;
    }
}

.gridRightTopLeftBottomRightCard h2{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 0.9;
}

.gridRightTopLeftBottomRightCard img{
    max-width: 200px;
}

.gridRightTopLeftTopCard {
    background-color: var(--color-purple-500);
    padding: 60px 54px;
    max-height: 100%;
    min-width: 520px;
    align-items: center;
    justify-content: center;

    @media (max-width: 1040px) and (min-width: 556px) {
        min-width: 100%;
    }

    @media (max-width: 555px) {
        padding: 40px;
        height: 100%;
        min-width: 100%;
    }
}

.gridRightTopLeftTopCard h2{
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 56px;
    font-weight: normal;
    letter-spacing: -1px;
    text-align: center;
    color: var(--color-light-grey);

    @media (max-width: 555px) {
        font-size: 42px;
    }
}

.gridRightTopLeftTopCard img{
    max-width: 186px;
}

.gridRightTopLeftTopCard p{
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 1px;
    color: var(--color-light-grey);
}

.gridRightTopLeftTopCard .center{
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridRightTopLeftTopCard .span1{
    color: var(--color-yellow-500);
}

.gridRightTopLeftTopCard .span2{
    font-style: italic;
}

.gridRightTopRightCard {
    background-color: var(--color-purple-100);
    padding: 32px;
    overflow: hidden;

    @media (max-width: 1040px) {
        max-width: 100%;
    }
}

.gridRightTopRightCard h2{
    font-weight: normal;
    font-size: 30px;
    letter-spacing: -2px;
    line-height: 0.9;
}

.gridRightTopRightCard img{
    max-height: 320px;

    @media (max-width: 1040px) and (min-width: 556px) {
        max-height: 100%;
        max-width: 320px;
    }

    @media (max-width: 555px) {
        max-height: 100%;
        max-width: 100%;
    }
}

.gridRightTopRightCard p{
    font-size: 20px;
}